@import './utils.scss';
body{
    background-color: $backgroundPrimaryColor;
}

.mainContainer{
    height: 100vh;
    width: 250px;
    margin: auto;
    @include flex;
    .leftContainer{
        margin-right: 40px;
        .background{
            position: relative;
        }
       .loginImg{
            position: absolute;
            left: 210px;
            bottom: 110px;          
        }
        
        
        
        
        
    }
    .rightContainer{
        @include flexColumn;
        
        .form{
            @include flexColumn;
            padding: 40px 70px;
            border: 1px solid $borderColor;
            background-color: $backgroundSecondaryColor;
            text-align: center;
            input{
                &:focus{
                    outline: 1px solid $textColor
                }
                
            }
            .changeInputType{
                position: relative;
                bottom: 27px;
                left: 105px;
                font-weight: 600;
                background-color: $backgroundPrimaryColor;
                border: none;
            }
            .logIn{
                @include buttonAuth
            }
            
        }
        .signUp{
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            border: 1px solid $borderColor;
            background-color: $backgroundSecondaryColor;
            padding: 20px 102px;
            width: 415px;
            .singUpButton{
                background-color: $backgroundSecondaryColor;
                border: none;
                color: $onButtonColor;
                font-size: 14px;
                font-weight: 600;
                padding-left: 10px;
            }

        }
        
    }
}

@keyframes expample {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


