@import 'utils.scss';

.mainContainerHome{
    z-index: 1;
    position: relative;
    @include flexColumn;
    color: black;
    height: 710px;
    width: 400px;
    border: 1px solid $borderColor;
    border-radius: 4px;
    margin-bottom: 20px;
    .user{
        width: 380px;
        position: relative;
        bottom:10px;
        display: flex;
        justify-content: left;
        align-items: center;
        img{
            margin-right: 10px;
        }
    }
    .icon{
        width: 380px;
        display: flex;
        justify-content: left;
        img{
            margin-right: 15px;
        }
        #save{
            position: relative;
            left: 200px;
        }
    }
    .like{
        width: 380px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        img{
            border-radius: 20px;
            margin-right: 10px;
        }
        
    }
    .description{
        width: 380px;
        text-align: left;
        margin-top: 20px;
        
    }
}