@import 'utils.scss';
.mainAccount{
    display: flex;
    margin-bottom: 20px;
    img{
        border-radius: 40px;
        border: 1px solid black;
        margin-right: 10px;
    }
    p{
        color: $textColor;
    }
}
h3{
    color: $textColor;
}
