//color
$backgroundPrimaryColor: #FAFAFA;
$backgroundSecondaryColor: #FFFFFF;
$borderColor:#DBDBDB;
$offButtonColor: #c0dffd;
$onButtonColor: #0095f6;
$textColor:#8E8E8E;

//DisplayFlex
@mixin flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

//button
@mixin buttonAuth{
    margin-top: 10px;
    
    color: white;
    border: none;
    border-radius: 4px;
    padding: 7px 70px;
    font-weight: bolder;
}

